.media {
    flex-flow: wrap;
}

#my-pic {
    width: 12em;
    margin-bottom: 1em; 
}


/* PORTFOLIO - CARDS */

.row {
    margin-top: 1em;
}


#all-cards {
    justify-content: space-evenly;
    /* align-content: space-between; */
}

.card {
    width: 18em;
    margin-bottom: 2em;
}

.live-link-img {
    height: 1em;
    opacity: .5;
    margin-right: 1em;
    z-index: 900;
}

.live-link-img:hover {
    opacity: 1;
    transform: scale(1.1);
}

#dropdown-hw-name {
    text-decoration: none;
    color: black;

}

.demo-img {
    height: 1em;
    opacity: .5;
    margin-left: .5em;
    z-index: 900;
}

.contact-icons {
    height: 2em;
    margin: .5em;
    opacity: .5;
}

.contact-icons:hover {
    /* height: 2.1em; */
    transform: scale(1.1);
    margin: .5em;
    opacity: 1;
}

.footer {
    justify-content: center;
    text-align: center;
}
